.embed-player {
  background: #000;
  cursor: pointer;
  width: 100%;
  position: relative
}

.embed-player:after {
  border: 20px solid transparent;
  border-left: 40px solid rgba(235,235,235,0.8);
  content: " ";
  margin: auto;
  width: 0px;
  height: 0px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0
}

.embed-player.play:after {
  display: none
}

.embed-player:hover:after {
  border-left-color: #fff
}
